@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

:root{
    --lightblue : #2874f0;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif; 
}

header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

/* .background{
    background-color: thistle;
} */

/* top nav bar styling */
.top-nav-bar{
    height: 56px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--lightblue);
    justify-content: center;
    align-items: center;
}

/* logo styling */
.top-nav-bar .logo-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    width: 20%;
    padding-right: 10px;
}

.top-nav-bar .logo-container > img{
    width: 75px;
}

.top-nav-bar .logo-container a{
    text-decoration: none;
    color: white;
    font-size: 11px;
    font-style: italic;
}

.top-nav-bar .logo-container a:hover{
    text-decoration: underline;
}

.top-nav-bar .logo-container a span{
    color: #ffe500;
}

.top-nav-bar .logo-container a > img{
    width: 10px;
}

/* Search Box Styling */
.search-box-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.search-box-container input{
    border: none;
    outline: none;
    height: 36px;
    padding-left: 16px;
    width: calc(100% - 40px);
    font-size: 14px;
    border-radius: 2px 0 0 2px;
}

.search-box-container i{
    width: 40px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: var(--lightblue);
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}

/* Nav Menu Styling */
.nav-menu-container{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
}

 /* login btn styling */
.nav-menu-login-btn{
    text-decoration: none;
    background-color: white;
    color: var(--lightblue);
    padding: 3px 40px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 2px;
    margin-left: 70px;
}

/* Menu More styling */
.nav-menu-more{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
}

.nav-menu-more span{
    font-weight: bold;
    font-size: 16px;
}

.nav-menu-more i{
    font-size: 16px;
}

/* Menu Cart Styling */
.nav-menu-cart{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
}

.nav-menu-cart i{
    font-size: 16px;
}

.nav-menu-cart{
    font-weight: bold;
    font-size: 16px;
}

/* Category Styling */
.category-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 0;
    background-color: white;
    border-bottom: 1px solid #d9d9d9;
    margin-right: 50px;
    margin-left: 60px;
}
.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.category img{
    width: 64px;
}
.category p{
    font-size: 14px;
    font-weight: bold;
}
.category-p-with-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.category-p-with-icon i{
    font-size: 14px;
}

/* section with advertisment styling */
.section-with-advertisment{
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
    margin-left: 60px;
    /* background-color: white; */
}
.section-with-advertisment .card{
    width: 84%;
}
/* Section card styling */
.card{
    border: 1px solid #e6e6e6;
    margin: 0 4px;
    box-shadow: 0 2px 5px #d9d9d9;
    /* background-color: white; */
}
/* .card1{
    border: 1px solid #e6e6e6;
    margin: 0 4px;
    box-shadow: 0 2px 5px #d9d9d9;
    background-color: white;
} */
.card-header{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    background-color: white;
}
.card-header h3{
    font-size: 20px;
}
/* timer styling */
.timer_div{
    display: flex;
    flex-direction: row;
    flex-grow: 8;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}
.timer_div span{
    font-size: 16px;
    opacity: .6;
}
.timer_div img{
    width: 24px;
}
.card-header button{
    border: none;
    background-color: var(--lightblue);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
}
.card-body{
    display: flex;
    padding: 20px 0 50px;
    justify-content: space-evenly;
    position: relative;
    background-color: white;
}
.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
}
.products img{
    width: 120px;
    height: 120px;
}
.products h4{
    font-size: 14px;
    margin-top: 8px;
}
.products .green{
    font-size: 14px;
    color: #388e3c;
    margin-top: 4px;
}
.products .gray{
    font-size: 14px;
    opacity: .6;
    margin-top: 4px;
}
.advertisment{
    width: 20%;
}
.advertisment img{
    width: 100%;
    height: 335px;
}
/* Side arrow styling */
.side-arrow{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 24px 4px;
    border-radius: 4px 0 0 4px;
    background-color: white;
    box-shadow: 0 1px 8px #e6e6e6, -1px 0 8px #e6e6e6, 0 -1px 8px #e6e6e6;
    z-index: 1;
    cursor: pointer;
}
.side-arrow i{
    font-size: 46px;
}

.product-section{
    margin-bottom: 10px;
    margin-left: 60px;
    margin-right:60px;
    /* background-color: blue; */
}

.product-section h4{
    white-space: nowrap;
}

/* Media Queries */
@media screen and (max-width: 1232px) {
    .nav-menu-login-btn{
        margin-left: 40px;
    }
    .search-box-container{
        width: 36%;
    }
    .nav-menu-container{
        width: 44%;
    }
    .nav-menu-more{
        margin-left: 40px;
    }
    .nav-menu-cart{
        margin-left: 40px;
    }
}

@media screen and (max-width: 1024px) {
    .nav-menu-login-btn{
        margin-left: 30px;
    }
    .search-box-container{
        width: 32%;
    }
    .nav-menu-container{
        width: 48%;
    }
    .nav-menu-more{
        margin-left: 30px;
    }
    .nav-menu-cart{
        margin-left: 30px;
    }
}

@media screen and (max-width: 940px) {
    .top-nav-bar{
        height: 52px;
    }
    .top-nav-bar .logo-container > img{
        width: 70px;
    }
    .top-nav-bar .logo-container a{
        font-size: 10px;
    }
    .top-nav-bar .logo-container a > img{
        width: 9px;
    }
    .search-box-container input{
        padding-left: 14px;
        font-size: 12px;
        height: 34px;
    }
    .search-box-container i{
        height: 34px;
    }
    .nav-menu-login-btn{
        font-size: 14px;
    }
    .nav-menu-more span{
        font-size: 14px;
    }
    .nav-menu-more i{
        font-size: 14px;
    }
    .nav-menu-cart i{
        font-size: 14px;
    }
    .nav-menu-cart{
        font-weight: bold;
        font-size: 14px;
    }
}
@media screen and (max-width: 840px) {
    .top-nav-bar{
        height: 50px;
    }
    .top-nav-bar .logo-container > img{
        width: 60px;
    }
    .top-nav-bar .logo-container a{
        font-size: 9px;
    }
    .search-box-container input{
        font-size: 12px;
        height: 32px;
    }
    .search-box-container i{
        height: 32px;
    }
    .nav-menu-login-btn{
        font-size: 13px;
    }
    .nav-menu-more span{
        font-size: 13px;
    }
    .nav-menu-more i{
        font-size: 13px;
    }
    .nav-menu-cart i{
        font-size: 13px;
    }
    .nav-menu-cart{
        font-weight: bold;
        font-size: 13px;
    }
    .nav-menu-login-btn{
        margin-left: 20px;
    }
    .nav-menu-more{
        margin-left: 25px;
    }
    .nav-menu-cart{
        margin-left: 25px;
    }
    .search-box-container{
        width: 245px;
    }
    .search-box-container input{
        width: calc(245px - 30px);
    }
    .search-box-container i{
        width: 30px;
        font-size: 18px;
    }
    .nav-menu-container{
        width: calc(100% - 20% - 245px);
    }
}
@media screen and (max-width:730px) {
    .top-nav-bar{
        height: 48px;
    }
    .top-nav-bar .logo-container > img{
        width: 56px;
    }
    .top-nav-bar .logo-container a{
        font-size: 8px;
    }
    .search-box-container{
        width: 225px;
    }
    .search-box-container input{
        height: 28px;
        font-size: 10px;
        width: calc(225px - 30px);
    }
    .search-box-container i{
        height: 28px;
        font-size: 16px;
        width: 30px;
    }
    .nav-menu-container{
        width: calc(100% - 20% - 225px);
    }
    .nav-menu-login-btn{
        margin-left: 16px;
        padding: 2px 32px;
        font-size: 11px;
    }
    .nav-menu-more{
        margin-left: 22px;
    }
    .nav-menu-cart{
        margin-left: 22px;
    }
    .nav-menu-more span{
        font-size: 12px;
    }
    .nav-menu-cart span{
        font-size: 12px;
    }
}

#whole {
    background-color: rgb(253, 238, 252);
  }
/* #abovesection {
    background-color: white; 
    padding-left: 20px;
    max-width: 1320px;
    margin-left: 200px;
} */ 